package components

templ StartSida(titel, namn string) {
    <html>
        <head>
            <meta charset="UTF-8"/>
            <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
            <script src="https://cdn.tailwindcss.com"></script>
            <title>{titel}</title>
        </head>
        @Body(namn)
    </html>
}
